:root {
  --main-font: 'PT Serif', serif;
  --second-font: 'Merriweather', serif;
  --font-for-titles: 'Yeseva One', cursive;
  --font-for-smth: 'Roboto', sans-serif;

  --text-main-color: #fff;
  --text-accent-color: #ffc700;
  --text-dark-color: #0d0c11;
  --text-dark-second: #272727;
  --bg-color-light: #f3f3f2;
  --text-dark-onLight: #181818;
  --color-for-progress: #3bde7c;
  --bg-color-dark: #1c2741;

  --transition-dur-fanc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
