<section class="aboutPassingContainer">
  <p class="textAboutPassing">
    Прохождение теста займет у вас не более <span>12 минут</span>, а его
    результаты вы сможете <span>использовать всю жизнь.</span>
  </p>
  <div class="textWrapper">
    <p class="textInWrapper">
      Профессиональная интерпретация и детально проработанные рекомендации
      позволят вам качественно изменить все аспекты своей жизни: от финансового
      до любовного.
    </p>
  </div>
  <button class="btnPassTest btnPassTest-light">ПРОЙТИ ТЕСТ</button>
</section>
