<section class="container aboutContainer" id="about">
  <svg width="23" height="22" class="openQuotes">
    <use href="./images/icons.svg#icon-quotes"></use>
  </svg>
  <p class="textAbout">
    Профессиональный IQ-тест позволяет не только определить коэффициент вашего
    интеллекта, <br />
    но и выработать список рекомендаций для повышения этого показателя.
  </p>
  <svg width="23" height="22" class="closeQuotes">
    <use href="./images/icons.svg#icon-close-quotes"></use>
  </svg>
</section>
