<section class="container mainSection">
  <h1 class="mainTitle">
    <span>Пройдите точный и быстрый </span>TECT НА OПРЕДЕЛЕНИЕ <br />
    IQ
  </h1>
  <img class="imgBrain" src="./images/brain.png" alt="brain" width="50%" />
  <button class="btnPassTest">ПРОЙТИ ТЕСТ</button>

  <p class="textPromise">
    И получите рекомендации по развитию своего интеллекта <br />
    <span>и улучшению финансового благосостояния и личной жизни</span>
  </p>
  <svg width="16" height="16" class="iconArrow">
    <use href="./images/icons.svg#icon-arrow"></use>
  </svg>
  <a class="linkToDetailes">подробнее</a>
</section>
