<div class="menu" data-menu>
  <div class="menuContainer">
    <button class="menuBtn" data-menu-close>
      <svg width="28" height="28" class="iconClose">
        <use href="./images/icons.svg#icon-closeBtn"></use>
      </svg>
    </button>

    <ul class="list listMenu">
      <li class="item">
        <a class="itemLink link" href="#main">ГЛАВНАЯ</a>
      </li>
      <li class="item">
        <a class="link itemLink" href="#about">ИНФОРМАЦИЯ О ТЕСТЕ</a>
      </li>
      <li class="item">
        <a class="link itemLink linkPassTest" href="#passTest">ПРОЙТИ ТЕСТ</a>
      </li>
    </ul>
  </div>
</div>
