.testModal {
  // width: 100%;
  min-height: 100vh;
  //   position: fixed;
  //   z-index: 1000;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: scroll;
  // display: flex;
  // flex-direction: column;
  padding-top: 63px;
  background-image: url('../images/bg-brain.png');
  background-size: cover;
  // justify-content: space-between;
  padding-bottom: 20px;
}

.progress {
  display: block;
  width: 260px;
  height: 11px;
  border: 1px solid var(--color-for-progress);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  progress::-webkit-progress-bar {
    background-color: #f2f3f3;
  }
}

progress::-webkit-progress-value {
  background-color: var(--color-for-progress);
}

.question {
  @include font($fs: 20px, $fw: 400, $lh: 26.5px);

  margin-bottom: 38px;
  padding-right: 20px;
  padding-left: 20px;
}

.wrap {
  display: inline-block;
  width: 100%;
}

.colorWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.checkboxColor {
  height: 75px;
  width: 75px;
}

.imageQuestion {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
}

.checkboxWrap {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}

.checkboxForImage {
  width: 41px;
  height: 41px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($fs: 20px, $fw: 400, $lh: 2.45px);
}

.btnNext {
  font-family: var(--second-font);
  color: #8e8e8e;
  @include font($fs: 14px, $fw: 700, $lh: 17.6px);
  padding-top: 13px;
  padding-bottom: 10px;
  width: 189px;
  border-radius: 20px;
  border: #8e8e8e;
  background-color: #dadada;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  background-color: rgba(242, 243, 243, 0.15);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-bottom: 8px;
}

.custom-checkboxColor input {
  appearance: none;
  position: absolute;
}

.custom-checkboxForImage input {
  appearance: none;
  position: absolute;
}

.custom-checkbox .checkbox {
  margin-right: 10px;
}

.custom-checkbox input {
  appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background: transparent;
  border-radius: 50%;
}
.custom-checkbox input:checked ~ .checkbox {
  background: blue;
  border: 2px solid black;
}

.custom-checkboxColor input:checked ~ .checkboxColor {
  border: 6px solid var(--text-accent-color);
}

.custom-checkboxForImage input:checked ~ .checkboxForImage {
  border: 6px solid var(--text-accent-color);
}

.text {
  margin-bottom: 200px;
}
.forUser {
  background-image: url('../images/bg-brain.png');
  background-size: cover;
  padding: 20px;
}
